body {
	background: #efefef;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 0 #fff;
	-webkit-font-smoothing:subpixel-antialiased;
}
h1,h2,h3,h4 {
	text-align: center;
	padding: 10px;
	margin: 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.gradient {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#cc0000), to(#990000));
  background-image: -webkit-linear-gradient(top, #cc0000 0%, #990000 100%);
  background-image: -moz-linear-gradient(top, #cc0000 0%, #990000 100%);
  background-image: linear-gradient(to bottom, #cc0000 0%, #990000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 128px;
}
.btn {
	display: block;
	font-size: 36px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.btn-default {
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
}
.btn.download {
	font-size: 24px;
	margin-top: 30px;
}
footer {
	text-align: center;
	color: #999999;
}